httpx
asyncio
langgraph
pydantic
markdownify
playwright
langchain-community
langchain
langchain-core
requests
crawl4ai
fastapi[all]
langchain-google-genai
redis
aioredis
python-dotenv
uvicorn[standard]
sse-starlette
langchain-openai